.home-page-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(58, 52, 52);
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
}

.home-page-body h1{
    color: white;
}

.favorites {
    background-color: #4CAF50 !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 10px;
    white-space: nowrap;
    width: auto;
  }