/* stocklistingStyle.css */
.stock-favorites-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: rgb(56, 45, 45);
  min-height: 100vh;
  margin: 0;
  padding-top: 30px;
}

.stock-favorites-heading {
  margin: 0;
  padding: 0;
}

.stock-favorites-button-container {
  align-self: flex-start;
  padding-left: 30px;
}

.stock-favorites-button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.stock-favorites-container {
  height: 300px; /* Adjust the height as needed */
  overflow-y: scroll;
  margin-bottom: 20px; /* Spacing between the two containers */
}

/* Make sure the individual stock entries do not overflow their container */
.stock-entry {
  margin-bottom: 10px; /* Spacing between the stock entries */
}


  